<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        .footer {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            align-content: space-between;
            display: flex;
            flex-direction: row;
        }
        .footer-content {
            padding: 3px;
            color: red;
            font-weight: bold;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="footer">
        <div class="footer-content">Footer</div>
        <div class="footer-content">Conteudo do meio</div>
        <div class="footer-content"><span>Página
            <span class="pageNumber"></span>
            de <span class="totalPages"></span>
          </span></div>
    </div>
</body>
</html>